<!DOCTYPE html>
<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/about.css')}}" >
<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}" >
<html>
    <head>
        <title> Photo Memories </title>
        <center>
        <h1 class="logo">PhotoMemories</h1>
        </center>
    </head>    
    <body>
            <div class="container">
                <center>
                    <h1> About Us..</h1>
                    
                    <p>
                        Photo Memories is a desktop application with cloud access. 
                        Our project offers a way to get Photo and Video Memories, and will use an API for cloud storage. 
                        Gives notifications on Windows 10. Photo Memories will have some form of an editor where users can upload, 
                        add caption/dates/tags.
                    </p>
                    <div class="info">
                        <a href=/>
                            <button>Contact Us</button>
                        </a>
                    </div>
                    <br>
                    <div class="main">
                        <a href=/>
                            <button>Back</button>
                        </a>
                    </div>
                </center>
            </div>       

            
    </body>


</html>
    

