<!DOCTYPE html> 
<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}" >
<html>
    <head>
        <title> Photo Memories </title>
        <h1 class="logo">PhotoMemories</h1>
    </head>  

<body>
<form class="submission-form"

    <label for="contact-us">
    Contact Us!
    </label>
<br>
    <label for="first-name">
        First Name:
    </label>

    <input type="text" id="first-name">
<br>
    <label for="last-name">
        Last Name: 
    </label>

    <input type="text" id="last-name">
<br>
    <label for="email">
        Email     :
    </label>

    <input type="email" id="email">
<br>
    <label for="phone">
        Phone #   :
    </label>

    <input type="tel" id="phone">
<br>
    <label for="message">
        Message   :
    </label>

    <textarea id="message"></textarea>
<br>
    <input type="submit" value="Send">
    <br>

</form>
<div class="main">
    <a href=/>
        <button>Back</button>
    </a>
</div>
</body>
</html>