<!DOCTYPE html>
<link rel ="stylesheet" type="text/css" href="{{ url_for('static', filename= 'css/style.css')}}" >
<html>
        <head>
                <title> Photo Memories </title>
                <h1 class="logo">PhotoMemories</h1>
            </head>     
            <body>
            <p>{username1}, Please Enter A New Username</p>
            <form method="post" action=".">
                    <p><input name="New Username" /></p>
                    <p><input type="submit" value="Submit" /></p>
            </body>
        </html>